[Unit]
Description=PKS Hiling Service
After=network.target

[Service]
Type=simple
Restart=always
User=www-data
Group=ubuntu
WorkingDirectory=/usr/bin/bots/pks-hiling
Environment="PATH=/usr/bin/bots/pks-hiling/environtments/rest_serve/bin"
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:pks-hiling.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
