name: Python CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Deploy to Ubuntu VPS
      env:
        SSH_PRIVATE_KEY: ${{ secrets.VPS_SSH_KEY }}
      run: |
        echo "▶️ Starting SSH agent..."
        eval "$(ssh-agent -s)"
        cd /usr/bin/bots/pks-hiling &&
        git config --global --add safe.directory /usr/bin/bots/pks-hiling &&
        git fetch origin main &&
        git reset --hard origin/main &&
        echo '✅ Deployment successful — latest code pulled.'
        
      
